{
  "extends": ["eslint:recommended", "angular"],
  "plugins": [
    "angular"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "google": true,
    "Modernizr": true
  },
  "rules": {
    "quotes": [
      2,
      "single"
    ]
  }
}
