.loginSignup {
  margin: 20px auto;

  &.container {
    padding: 0px;
  }

  .registerWrapper,
  .loginWrapper {
    padding: 0 25px;

    input,
    button:not(.button-secondary) {
      width: 100%;
    }

    h2 {
      padding: 0;
      margin: 0;
    }

    .switchText {
      margin: 5px 0 20px 0;

      button {
        display: block;
        padding: 0;
      }
    }
  }
}


@media (min-width: 550px) {
  .loginSignup {
    width: 500px;
  }

}

@media (min-width: 750px) {}
