<section>
  <header></header>
</section>

<div class="loginSignup" data-ng-init="vm.showLogin = false;">

  <div class="registerWrapper animate-show" data-ng-if="!vm.showLogin">
    <h2>Register new user</h2>

    <div class="switchText">
      <span>Already have an account?</span>
      <button class="button-secondary" data-ng-click="vm.showLogin = true">Log me in.</button>
    </div>

    <signup></signup>

  </div>

  <div class="loginWrapper animate-show" data-ng-if="vm.showLogin">
    <h2>Login</h2>

    <div class="switchText">
      <span>Don't have an account, yet?</span>
      <button class="button-secondary" data-ng-click="vm.showLogin = false">Sign me up.</button>
    </div>

    <login></login>

  </div>

</div>
