body {
  background: $text-icon;
  color: $primary-text;
  margin: 0 auto;
  padding: 0 50px;
}

.button,
button {
  background-color: $cta;
  color: $text-icon;

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &-secondary {
    background: none;
    border: none;
    color: $cta;
    opacity: 0.75;
    transition: opacity 0.25s;
    padding: 0 10px;
    margin: 0;
    height: auto;
    line-height: 1;

    &:not(:disabled):hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}
