$primary-dark: #455A64;
$primary: #607D8B;
$primary-light: #EAF3F7;
$text-icon: #fff;
$text-dark: #2A3338;
$cta: #4CAF50;
$primary-text: #212121;
$secondary-text: #727272;
$divider: #B6B6B6;
$error: #F44336;

