.formInput {
  .errorMessage {
    display: none;

    span {
      display: block;
    }
  }

  &.has-error {

    input {
      border: 1px solid red;
    }

    .errorMessage {
      display: block;
      color: red;
    }
  }
}
