label {
  display: block;

  span {
    display: block;
  }
}


.formInput {
  .errorMessage {
    display: none;

    span {
      display: block;
    }
  }

  &.has-error {

    input {
      border: 1px solid $error;
      margin-bottom: 0;
    }

    .errorMessage {
      display: block;
      color: red;
    }
  }
}
