.eventForm {
  label {
    display: block;
    margin-bottom: 20px;

    .errorMessage {
      display: none;
    }

    &.has-error {

      input {
        border: 1px solid red;
      }

      .errorMessage {
        display: block;
        color: red;
      }
    }

    span {
      display: block;
    }
  }

  .dateTime {
    .primary {
      display: block;
      visibility: visible;
    }

    .alternate {
      display: none;
      visibility: hidden;
    }
  }

}

.noDate {

  .dateTime {
    .primary {
      display: none;
      visibility: hidden;
    }

    .alternate {
      display: block;
      visibility: visible;
    }
  }

}
