.eventForm {
  label {
    display: block;
    margin-bottom: 20px;

    span {
      display: block;
    }
  }

  .dateTime {
    .primary {
      display: block;
      visibility: visible;
    }

    .alternate {
      display: none;
      visibility: hidden;
    }
  }

}

.noDate {

  .dateTime {
    .primary {
      display: none;
      visibility: hidden;
    }

    .alternate {
      display: block;
      visibility: visible;

      // Hide the message of time on screen, but make it still accessible for screen readers
      .startTime,
      .endTime {
        label > span {
          position: absolute;
          left: -99999px;
        }
      }
    }
  }

}
