.eventForm {
  label {
    display: block;
    margin-bottom: 20px;

    span {
      display: block;
    }
  }

  .dateTime {
    .primary {
      display: block;
      visibility: visible;
    }

    .alternate {
      display: none;
      visibility: hidden;
    }
  }
}

.miniInputForm {
  position: relative;
  input {
    border: 1px solid $cta;
  }
  button {
    max-width: 170px;
    position: absolute;
    right: 0;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 15px;

    span {
      display: none;
      padding-left: 5px;
    }

    i.fa {

    }
  }
}

@media (min-width: 550px) {
  .miniInputForm {
    button {
      span {
        display: inline-block;
      }
    }
  }
}

.noDate {

  .dateTime {
    .primary {
      display: none;
      visibility: hidden;
    }

    .alternate {
      display: block;
      visibility: visible;

      // Hide the message of time on screen, but make it still accessible for screen readers
      .startTime,
      .endTime {
        label > span {
          position: absolute;
          left: -99999px;
        }
      }
    }
  }

}
