.event {
  width: 300px;
  min-height: 300px;
  overflow: hidden;
  background: $primary-light;
  position: relative;
  transition: all 1.25s;

  .head {
    background: $primary-dark;
    padding: 20px;
    color: $text-icon;
  }

  .body {
    padding: 10px 20px;
  }

  .additionalInfo {
    padding: 10px 20px 40px 20px;
  }

  .eventName {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .host {
    color: $divider;
  }

  .location {
    margin-top: 10px;

    a {
      font-size: 13px;
      color: $primary-dark;
    }
  }

  i.fa {
    padding-right: 10px;
  }

  .guestList {
    display: none;
    margin-top: 10px;

    i.fa {
      display: block;
      float: left;
    }

    ul {
      margin: -4px 0 0 0;
      display: block;
      float: left;
      max-width: 80%;

      li {
        float: left;
        display: inline;
        list-style: none;
        font-size: 15px;
        padding: 0;
        margin: 0;

        span {
          padding: 0 5px;
          border-right: solid 1px;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  button {
    display: none;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .body {
    button {
      display: block;
    }
  }

  .expanded {
    button {
      display: block;
    }

    .guestList {
      display: block;
    }

    .description {
      overflow: visible;
      white-space: normal;
    }
  }

}
