.eventsWrapper {
  margin-top: 25px;

  h2 {
    margin-bottom: 25px;
  }

  .eventList {
    list-style: none;

  }

  &.container {
    padding: 0;
  }
}

@media (min-width: 550px) {
  .eventsWrapper {
    li {
      float: left;
      padding: 4px;
    }
  }
}

@media (min-width: 750px) {
  .eventsWrapper {
    li {
      padding: 12px;
    }
  }
}
