.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $primary-dark;
  height: 50px;
  z-index: 999;

  h1 {
    line-height: 50px;
    color: $text-icon;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;

    i.fa {
      padding-right: 10px;
    }
  }

  .signOut {
    background: $primary-dark;
    color: $text-icon;
    border: none;
    border-radius: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      color: $cta;
    }

    span {
      padding-right: 7px;
      display: none;
    }

    i.fa {
      font-size: 2rem;
    }
  }
}

@media (min-width: 550px) {
  .header {
    .signOut {
      span {
        display: inline;
      }
    }
  }
}
