<div class="login">

  <form name="vm.loginForm"
        data-ng-model="vm.loginForm"
        data-ng-submit="vm.authenticate(vm.user)">

    <div class="formInput"
         data-ng-class="{ 'has-error' : vm.loginForm.username.$invalid && vm.loginForm.username.$touched}">

      <label for="user.name">
        <i class="fa fa-envelope-o"></i>
        <input type="email"
               name="username"
               id="user.name"
               title="E-mail"
               placeholder="E-mail"
               ng-model="vm.user.name"
               autocomplete="email"
               data-ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"
               required >
      </label>

      <label for="user.password">
        <i class="fa fa-key"></i>
        <input type="password"
               name="password"
               title="Password"
               placeholder="Password"
               id="user.password"
               ng-model="vm.user.password"
               autocomplete="password"
               required >
      </label>

      <div class="errorMessage">
        <span data-ng-if="vm.loginForm.username.$error.loginFailure">Check your username or password.</span>
        <span data-ng-if="vm.loginForm.username.$error.pattern">Format of e-mail not valid.</span>
      </div>

    </div>

    <button
      type="submit"
      data-ng-disabled="vm.loginForm.$invalid">Login</button>
  </form>
</div>
